
*.class
GeradorCRUD/GeradorCRUDJava/nbproject/private/private.xml
GeradorCRUD/GeradorCRUDJava/build/built-jar.properties
GeradorCRUD/GeradorCRUDJava/build/
GeradorCRUD/GeradorCRUDJava/nbproject/private/
GeradorCRUD/GeradorCRUDJava/src/entidades_geradas/
*.txt
GeradorCRUD/GeradorCRUDJava/nbproject/private/private.xml
/GeradorCRUD/GeradorCRUDJava/dist/
GeradorCRUD/GeradorCRUDJava/LastPath.txt
